<v-layout d-flex wrap>
    <v-flex sm3 lg3>
        <v-text-field width="20" append-icon="search" dense outlined></v-text-field>
    </v-flex>
    <v-flex sm3 lg4 justify-center>
        <v-toolbar-title>GINGERBRICH</v-toolbar-title>
    </v-flex>
    <v-flex  lg5 justify-space-around>
        <v-menu d-flex offset-y>
            <template v-slot:activator="{ on }">
                <v-btn v-on="on" icon>
                    <v-icon>menu</v-icon>
                </v-btn>
            </template>
            <v-list>
                <v-list-item>
                    <v-list-item-title>Register</v-list-item-title>
                </v-list-item>
                <v-list-item>
                    <v-list-item-title>Login</v-list-item-title>
                </v-list-item>
            </v-list>
        </v-menu>
    </v-flex>
</v-layout>