<v-container class="register" fill-height justify-center>
    <v-card class="pl-5 pr-5 pb-5">
        <v-form class="pl-5 pr-5 pb-5 pt-2">
            <v-toolbar-title d-flex class="pb-5">
                <v-img Contain src="../../assets/download.png" contain height="100"></v-img>
                GINGERBRICH
            </v-toolbar-title>
            <v-text-field v-model="name" :rules="[v =>!!v || 'name is required']" dense flat required outlined
                placeholder="Name">
            </v-text-field>
            <v-text-field v-model="surname" :rules="[v =>!!v || 'surname is required']" dense required flat outlined
                placeholder="Surname">
            </v-text-field>
            <v-text-field v-model="phoneNumber" dense flat outlined placeholder="Phone Number"></v-text-field>
            <v-select class="mw-10" type="dropdown" :rules="isRequiredRule" dense required outlined v-model="gender"
                :items="genderOption" label="Gender"></v-select>
            <v-text-field v-model="email" :rules="emailRule" dense flat outlined placeholder="Email"></v-text-field>
            <v-text-field v-model="password" :rules="isRequiredRule" type="password" dense flat outlined
                placeholder="Password">
            </v-text-field>
            <v-text-field v-model="confirmPassowrd" :rules="[v =>!!v || 'confirm password is required']" type="password"
                dense flat outlined placeholder="Confrim Password"></v-text-field>
            <v-btn class="mt-3" @click="submitRegisterUser">Register</v-btn>
        </v-form>
    </v-card>
</v-container>